asttokens
bleach
blinker
Brlapi
certifi
chardet
chrome-gnome-shell
click
colorama
comm
command-not-found
cryptography
cupshelpers
dbus-python
debugpy
decorator
defer
distro
exceptiongroup
executing
Flask
hidpidaemon
httplib2
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
jeepney
Jinja2
jupyter_client
jupyter_core
kaggle
kernelstub
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
macaroonbakery
MarkupSafe
matplotlib-inline
meson
more-itertools
nest-asyncio
netaddr
netifaces
numpy
oauthlib
packaging
pandas
parso
pexpect
platformdirs
pop-transition
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycairo
pycups
pydbus
Pygments
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
python-gnupg
python-slugify
python-xlib
pytz
pyxdg
PyYAML
pyzmq
repolib
repoman
requests
screen-resolution-extra
SecretStorage
sessioninstaller
six
stack-data
systemd-python
text-unidecode
tornado
tqdm
traitlets
typing_extensions
tzdata
ubuntu-drivers-common
ufw
urllib3
wadllib
wcwidth
webencodings
Werkzeug
xdg
xkit
zipp
